/HackathonBase/HackathonBase.ipdb
/HackathonBase/HackathonBase.pdb
/HackathonBase/HackathonBase.VC.db
/HackathonBase/.vs
/HackathonBase/Debug
/HackathonBase/Release
/HackathonBase/HackathonBase.iobj
/HackathonBase/x64
HackathonBase/HackathonBase.VC.VC.opendb
/HackathonBase/DATA/SAVEDATA/ranking.txt